@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    padding: 5rem;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-size: 3rem;
    padding: 1rem 0rem;
}

h2 {
    font-size: 2rem;
    color: #575757;
}

h3 {
    font-size: 2.5rem;
}

.page-title {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #575757;
    border-radius: 5px;
    background-color: #E8E8E8;
    padding: 1rem 2rem;
}

.page-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-content-element {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    width: 100%;
    background-color: #E8E8E8;
    margin: 0.5rem 0;
    padding: 2rem 0;
    font-size: 1.3rem;
}

.page-content-element-name {
    padding-left: 2rem;
}

.page-content-element-average {
    padding-right: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.form-container {
    margin-top: 2rem;
    width: 100%;
    background-color: #E8E8E8;
}

.form-save-btn {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
}